<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Oauth Grant Permission</title>
</head>

<body>

	<form action="authorized" method="POST">
		
		<input type="hidden" name="oauth_token" value="{{.Token.Key}}"/>
		<input type="hidden" name="oauth_verifier" value="{{.Token.Verifier}}"/>
		<input type="submit" value="Grant Access">
	</form>
</body>
</html>
