<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Oauth Grant Permission</title>
</head>

<body>

		<div>To finalize the OAuth procedure, please copy the following verification code</div>
		<div class="verifier">{{.Token.Verifier}}</div>
</body>
</html>
